<div id="<%= dom_id movie_form %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_form.movie_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= movie_form.title %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= movie_form.year %>
  </p>

  <p>
    <strong>Cast:</strong>
    <%= movie_form.cast %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie_form.description %>
  </p>

  <p>
    <strong>DVD:</strong>
    <%= movie_form.dvd %>
  </p>

  <p>
    <strong>Blu ray:</strong>
    <%= movie_form.blu_ray %>
  </p>

</div>
